<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">เพิ่มผู้ใช้ใหม่</h4>
                    </div>

                    <div class="content">
                        <form ng-submit="adduser.addUser(addUdata);">
                            <div class="form-group">
                                <label>ชื่อผู้ใช้งาน</label>
                                <input type="text" class="form-control" name="username" placeholder="exampleusername" ng-model="adduser.addUdata.username">
                            </div>
                            <div class="form-group">
                                <label>รหัสผ่าน</label>
                                <input type="text" class="form-control" name="password" placeholder="examplepassword" ng-model="adduser.addUdata.password">
                            </div>
                            <div class="form-group">
                                <label>ชื่อจริง</label>
                                <input type="text" class="form-control" name="firstName" placeholder="example@example.com" ng-model="adduser.addUdata.firstName">
                            </div>
                            <button type="submit" class="btn btn-info btn-fill btn-block">เพิ่มผู้ใช้งาน</button>
                            <div class="clearfix"></div>
                        </form>
                      <br>
                    <div class="jumbotron text-center" ng-show="adduser.loading">
                      <span class="glyphicon glyphicon-report spinner"></span>
                      <p>Loading.....</p>
                    </div>
                    
                    <div class="row show-hide-message" ng-show="adduser.successMsg">
                        <div class="alert alert-success">
                          <button type="button" aria-hidden="true" class="close">×</button>
                          <span>{{ adduser.successMsg }}</span>
                        </div>
                    </div>

                    <div class="row show-hide-message" ng-show="adduser.errorMsg">
                        <div class="aler alert-danger">{{ adduser.errorMsg }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
