<div class="page-header">Create new user</div>

<form>
    <!-- Email -->
    <label>Email</label>
    <input type="text" name="email" placeholder=" example@example.com">
    <br>
    <!-- Username -->
    <label>Username</label>
    <input type="text" name="username" placeholder=" example">
    <br>
    <!-- Password -->
    <label>Password</label>
    <input type="text" name="password" placeholder=" password">
    <br>
    <button class="btn btn-primary btn-fill"type="submit">Create</button>
</form>
