<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">รายชื่อผู้ใช้งาน</h4>
                        <br>
                        <a href="/addUser" class="btn btn-info btn-fill">เพิ่มผู้ใช้งาน</a>
                        <br>
                    </div>

                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                              <th>ประเภทของแบบประเมิน</th>
                              <th>ปีที่ใช้แบบประเมิน</th>
                              <th>ตัวบ่งชี้การประเมิน</th>
                              <th>น้ำหนักคะแนน</th>
                              <th>เกณฑ์การพิจารณา</th>
                            </thead>
                            <tbody>
                            <tr>
                              <td>1</td>
                              <td>Dakota Rice</td>
                              <td>$36,738</td>
                              <td>Niger</td>
                              <td>Oud-Turnhout</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
