<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">เพิ่มคำถามที่ใช้ในการประเมิน</h4>
                    </div>

                    <div class="content">
                      <form ng-submit="addef.addEvalForm(addEfdata);" novalidate>
                        <div class="row">
                          <div class="col-md-6">
                              <div class="form-group">
                                <label>ประเภทของแบบประเมิน</label>
                                  <select class="form-control" id="evalFormType" ng-model="addef.addEfdata.evalFormType" placeholder="กรุณาเลือกประเภทของแบบประเมิน" required>
                                    <option>แบบประเมินประสิทธิภาพและประสิทธิผลการปฏิบัติงาน</option>
                                    <option>แบบประเมินผลการปฏิบัติงานของพนักงานส่วนท้องถิ่น (ประเมินตนเอง)</option>
                                  </select>
                              </div>
                          </div>
                          <div class="col-md-3">
                              <div class="form-group">
                                <label>ปีที่ใช้แบบประเมิน</label>
                                  <select class="form-control" id="evalFormYear" ng-model="addef.addEfdata.evalFormYear" placeholder="กรุณาเลือกปีที่ใช้แบบประเมิน" required>
                                    <option>ประจำปี 2560</option>
                                    <option>ประจำปี 2561</option>
                                    <option>ประจำปี 2562</option>
                                  </select>
                              </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label>น้ำหนักคะแนน</label>
                                <select class="form-control" id="evalWeight" ng-model="addef.addEfdata.evalWeight" placeholder="กรุณาเลือกน้ำหนักคะแนนของแบบประเมิน" required>
                                  <option>1</option>
                                  <option>2</option>
                                  <option>3</option>
                                  <option>4</option>
                                  <option>5</option>
                                  <option>6</option>
                                  <option>7</option>
                                  <option>8</option>
                                  <option>9</option>
                                  <option>10</option>
                                </select>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>ตัวบ่งชี้การประเมิน</label>
                                    <textarea rows="3" class="form-control" id="evalTopic" placeholder="กรุณากรอกตัวบ่งชี้การประเมิน"  ng-model="addef.addEfdata.evalTopic" required></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>เกณฑ์การพิจารณา</label>
                                    <textarea rows="4" class="form-control" id="evalCriteria" placeholder="กรุณากรอกเกณฑ์การพิจารณา" ng-model="addef.addEfdata.evalCriteria" required></textarea>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-info btn-fill btn-block">เพิ่มหัวข้อการประเมิน</button>
                        <div class="clearfix"></div>

                      </form>
                      <br>

                      <div class="jumbotron text-center" ng-show="addef.loading">
                        <span class="glyphicon glyphicon-report spinner"></span>
                        <p>Loading.....</p>
                      </div>
                      <br>
                      <div class="row show-hide-message" ng-show="addef.successMsg">
                          <div class="alert alert-success fade in">
                            <span>{{ addef.successMsg }}</span>
                          </div>
                      </div>
                      <div class="row show-hide-message" ng-show="addef.errorMsg">
                          <div class="aler alert-danger fade in">
                            <span>{{ addef.errorMsg }}</span>
                          </div>
                      </div>
                  </div>
               </div>
            </div>
        </div>
    </div>
</div>
